<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1085113786979-3u7qcqvn3m7euvcds1gm5sb3iudt47ov.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1085113786979-3u7qcqvn3m7euvcds1gm5sb3iudt47ov</string>
	<key>API_KEY</key>
	<string>AIzaSyAmnvnHij21K__hJK5a3MHwo9UX_t70mWE</string>
	<key>GCM_SENDER_ID</key>
	<string>1085113786979</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ben.unsaved-diary-firebase</string>
	<key>PROJECT_ID</key>
	<string>expo-unsaved-diary</string>
	<key>STORAGE_BUCKET</key>
	<string>expo-unsaved-diary.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1085113786979:ios:c63e439feb0d28b8164e56</string>
</dict>
</plist>